@import "./variables";

.css-home {
  body {
    width: 100%;
    height: 100%;
  }

  @mixin section($image) {
    background-image: $image;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 4vw 8vw 2vw;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;
  }

  section:first-child {
    @include section(url('../images/yellow.jpg'));
  }

  section:last-child {
    @include section(url('../images/green.jpg'));
  }

  .css-photo-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .css-text-area {
    display: flex;
    flex-direction: column;
    margin-top: -4vw;
    // margin-bottom: 5vw;
  }

  .css-bike-area {
    display: flex;
    justify-content: flex-end;
  }

  .css-stack-area {
    display: flex;
    flex-direction: row;
    margin-top: 6vw;
  }

  .css-stack-area {
    div {
      width: 50vw;
      div {
        display: flex;
        flex-direction: row;
        ul {
          padding-right: 4vw;
        }
      }
    }
  }

  h1 {
    font-family: 'Gil-Sans-Ultra', Fallback, sans-serif;
    font-size: 4.5vw;
    color: rgb(255, 255, 255);
    text-shadow: 0.5vw 0.5vw 0vw $brown;
    text-indent: -0.3vw;
  }

  h2 {
    font-family: 'Gil-Sans-Ultra', Fallback, sans-serif;
    font-size: 3vw;
    color:rgb(255, 255, 255);
    text-shadow: 0.5vw 0.5vw 0vw $darkblack;
  }

  h5 {
    font-family: 'Source-Code-Pro', Fallback, sans-serif;
    font-size: 1.5vw;
    color: $brown;
    margin-top: 1vw;
    margin-bottom: auto;
  }

  .css-svg-photo {
    width: 30vw;
  }

  .css-svg-bike {
    width: 25vw;
  }

  .css-stack-area ul, .css-project-area ul {
    font-family: 'Source-Code-Pro', Fallback, sans-serif;
    font-size: 1.7vw;
    color:rgb(255, 255, 255);
    list-style: none;
    margin-top: 1vw;
  }

  .css-stack-area ul li:before, .css-project-area ul li:before {
    content: "- ";
  }

  .css-project-area {
    margin-top: 1.5vw;
  }


  .css-rede-green {
    position: absolute;
    right: 0;
    top: 0;
    width: 40vw;
  }

  .css-rede_2-green  {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20vw;
    div {
      position: relative;
      svg {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

  .css-rede-yellow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40vw;
    div {
      position: relative;
      svg {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

  .css-text-area {
    a {
      align-self: center;
      img {
        fill: white;
        width: 3vw;
        animation: bounce 3s infinite;
      }
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    } 
    25% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(10px);
    }
  }

}
